/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px solid #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/
.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  animation: drive 3s linear infinite both,
              jump 0.3s 1.2s  ease;
}

.luigi {
  position: absolute;
  top: 60px;
  left: 0px;
  animation-name: drive;
  animation-duration: 5s; 
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1){
  width: 200px;
  top: 120px;
  opacity: 0.6;
  animation:  wind 25s linear  infinite reverse both;
}

.cloud:nth-child(2){
  width: 300px;
  top: 0;
  animation: wind 15s linear  infinite reverse both;
}

.tree {
  position: absolute
}



.tree:nth-child(1) {
  width: 250px;
  top: -120px;
  left: -100px;
  z-index: 1;
  animation: tree 5s linear  infinite reverse both;
}

.tree:nth-child(2) {
  width: 100px;
  top: -60px;
  left: -100px;
  animation: tree 6s linear  infinite reverse both;
}

.tree:nth-child(3) {
  width: 300px;
  top: -100px;
  left: -100px;
  z-index: 1;
  animation: tree 5s linear 2.5s infinite reverse both;
}

.tree:nth-child(4) {
  width: 80px;
  top: -40px;
  left: -100px;
  animation: tree 6s linear 4s infinite reverse both;
}
/*// KEYFRAMES //*/
 @keyframes drive {
   from{ transform: translateX(-200px)}
   to{transform: translateX(1400px)}
 }

 @keyframes wind {
   from{transform: translateX(-300px)}
   to{transform: translateX(1400px)}
 }

 @keyframes jump {
   0%{top: -40px}
   50%{top: -60px}
   100%{top: -40px}
 }

 @keyframes tree {
   from{ transform: translateX(-300px)}
   to{transform: translateX(1500px)}
 }






